<div x-data="{ open: false }">
  @tooltip({text: tooltip})
    @slot("target")
      @!button({"@click":"open = true",  ...props})
    @end
  @end
  
  @if($slots.inner)
    {{{ await $slots.inner() }}}
  @end
</div>
