@app()
  @slot('main')
    <h1>
      NanoBlog
    </h1>
    <p>
      The world's least complicated microblogging platform.
    </p>
    @!link({variant:"primary", href:"/authenticate", text:"Log in"})
    @!link({variant:"secondary", href:"/register", text:"Sign up"})

  @end
@end
